<div class="dialog-title">
  <h1 mat-dialog-title>Create New Kanban</h1>
</div>


<mat-dialog-content [formGroup]="form" class="dialog-content">

  <mat-form-field class="kanban-title">
    <input formControlName="title"
           matInput
           placeholder="Title">
  </mat-form-field>

  <mat-dialog-actions>
    <button (click)="close()" class="mat-raised-button">Close</button>
    <button (click)="save()" class="mat-raised-button mat-primary">Save</button>
  </mat-dialog-actions>
