<div class="page-container">
  <div class="page-title">
    <h1>{{kanban?.title}}</h1>
  </div>
  <div>
    <button (click)="openDialogForNewTask()" mat-raised-button>+ Create Task</button>
  </div>
  <div class="kanban-board">
    <div class="list-container">
      <h2>To do</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['inpro', 'done']"
        [cdkDropListData]="todos"
        cdkDropList
        class="board-list"
        id="todo">
        <div (dblclick)="openTaskDialog($event)" *ngFor="let task of todos" [style.background-color]="task.color"
             cdkDrag
             class="sticky-note"
             id="{{task.id}}">
          {{task.title}}
        </div>
      </div>
    </div>

    <div class="list-container">
      <h2>In Progress</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['todo', 'done']"
        [cdkDropListData]="inprogress"
        cdkDropList
        class="board-list"
        id="inpro">
        <div (dblclick)="openTaskDialog($event)" *ngFor="let task of inprogress" [style.background-color]="task.color"
             cdkDrag
             class="sticky-note"
             id="{{task.id}}">
          {{task.title}}
        </div>
      </div>
    </div>

    <div class="list-container">
      <h2>Done</h2>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['todo', 'inpro']"
        [cdkDropListData]="dones"
        cdkDropList
        class="board-list"
        id="done">
        <div (dblclick)="openTaskDialog($event)" *ngFor="let task of dones" [style.background-color]="task.color"
             cdkDrag
             class="sticky-note"
             id="{{task.id}}">
          {{task.title}}
        </div>
      </div>
    </div>
  </div>
</div>
